.git
.github
**/.dart_tool
**/build
**/target
**/node_modules
apps/client/android/.gradle
apps/client/ios
apps/client/macos
apps/client/windows
apps/client/linux
apps/client/web
docs
*.md
.env
.env.*
!.env.example
infrastructure/docker/.env.prod
